資料分析與探索(EDA)，通常與資料清理同時且反覆進行
1. 描述統計量:單一變數分析資料集狀態(平均數、中位數、)，分布情況(變異數、標準差、IQR)。多變數分析關聯度、因子分析、集群分析
2. 統計圖:線圖、長條圖、圓餅圖、散佈圖、相形圖等等

一、描述統計量
# 以美國薪資為例

In [8]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/kirenz/datasets/master/wage.csv")
df['age'].mode()
df["age"].mean()
round(df["age"].mean(), 2)
df["age"].median()
df['age'].quantile([.25, .5, .75])
df['age'].max() - df['age'].min()
round(df['age'].std(),2)
round(df.describe(),2)

       Unnamed: 0     year      age  logwage     wage
count     3000.00  3000.00  3000.00  3000.00  3000.00
mean    218883.37  2005.79    42.41     4.65   111.70
std     145654.07     2.03    11.54     0.35    41.73
min       7373.00  2003.00    18.00     3.00    20.09
25%      85622.25  2004.00    33.75     4.45    85.38
50%     228799.50  2006.00    42.00     4.65   104.92
75%     374759.50  2008.00    51.00     4.86   128.68
max     453870.00  2009.00    80.00     5.76   318.34